extends layout

doctype html
html
  head
    title Employee List
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      h3
        a(href='/employees/create') Create Employee
      h1 Employee List
      table
        thead
          tr
            th Employee Name
            th Position
        tbody

